<h2>Group project</h2>
<p>Performed by</p>
<ol>
    <li>Mikhail Mironov u211361</li>
    <li>Vera Garmanova</li>
</ol>

In [1]:
import requests
import pickle
import re
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from selenium import webdriver

<h3>Load initial dataset from kaggle</h3>

In [2]:
# load data from kaggle
df_links = pd.read_csv("data/data_with_links.csv") # -> data with linkedin profile links
df_links.head()

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap,username,profile_links
0,Walmart,1,0.0,572754.0,13673.0,2300000.0,Retailing,Bentonville,AR,no,no,no,yes,1.0,C. Douglas McMillon,https://www.stock.walmart.com,WMT,352037,douglasmcmillon,https://www.linkedin.com/in/dougmcmillon
1,Amazon,2,0.0,469822.0,33364.0,1608000.0,Retailing,Seattle,WA,no,no,no,yes,2.0,Andrew R. Jassy,www.amazon.com,AMZN,1202717,andrewjassy,https://www.linkedin.com/in/andy-jassy-8b1615
2,Apple,3,0.0,365817.0,94680.0,154000.0,Technology,Cupertino,CA,no,no,no,yes,3.0,Timothy D. Cook,www.apple.com,AAPL,2443962,timothycook,https://www.linkedin.com/in/tim-cook-7a188782
3,CVS Health,4,0.0,292111.0,7910.0,258000.0,Health Care,Woonsocket,RI,no,no,yes,yes,4.0,Karen Lynch,https://www.cvshealth.com,CVS,125204,karenlynch,https://www.linkedin.com/in/karenslynch
4,UnitedHealth Group,5,0.0,287597.0,17285.0,350000.0,Health Care,Minnetonka,MN,no,no,no,yes,5.0,Andrew P. Witty,www.unitedhealthgroup.com,UNH,500468,andrewwitty,NaN

In [3]:
# Filter out those who dont have linkedin account, i.e profile_link is NaN
df_links = df_links[df_links.profile_links.notna()]
print(df_links.shape)

# Get user_handle on linkedin as a last element in profile_link string
df_links["handle"] = df_links.profile_links.str.split("/").apply(lambda x: x[-1])

(607, 20)

In [4]:
# expand kaggle data with collected data on experience of ceos
df_exp = pd.read_csv("data/data_ceo_experience.csv")
df_exp.head()

,Handle,CEO years,CEO months,Overall Comp. years,Overall Comp. months,Other CEO years,Other CEO months,Other Comp. years,Other Comp. months,Followers,BCs,MA,PHD,IS_HARVARD,Num Comp.
0,dougmcmillon,13,10,13,10,3,6,3,6,1 136 161,Business,Business,NaN,0.0,2
1,andy-jassy-8b1615,25,8,25,8,0,0,0,0,354 740,Business,Business,NaN,1.0,1
2,karenslynch,1,10,4,1,0,0,20,18,285 180,Finance,Business,NaN,0.0,6
3,brian-tyler,3,8,25,11,0,0,12,33,29 374,NaN,NaN,NaN,0.0,4
4,steve-collis-632b3,11,11,28,11,0,0,0,0,83 467,Business,Business,NaN,0.0,1

In [5]:
# Create ceo experience columns
df_exp["months_ceo_company"] = df_exp["CEO years"] * 12 + df_exp["CEO months"]
df_exp["months_company"] = df_exp["Overall Comp. years"] * 12 + df_exp["Overall Comp. months"]
df_exp["months_company_others"] = df_exp["Other Comp. years"] * 12 + df_exp["Other Comp. months"]

In [6]:
# Merge experience data with kaggle data
df = df_links.merge(df_exp, left_on="handle", right_on="Handle", how="inner")
df.shape

(507, 39)

In [7]:
# Filter out all junk columns in the data
df.columns

Index(['company', 'rank', 'rank_change', 'revenue', 'profit',
       'num. of employees', 'sector', 'city', 'state', 'newcomer',
       'ceo_founder', 'ceo_woman', 'profitable', 'prev_rank', 'CEO', 'Website',
       'Ticker', 'Market Cap', 'username', 'profile_links', 'handle', 'Handle',
       'CEO years', 'CEO months', 'Overall Comp. years',
       'Overall Comp. months', 'Other CEO years', 'Other CEO months',
       'Other Comp. years', 'Other Comp. months', 'Followers', 'BCs', 'MA',
       'PHD', 'IS_HARVARD', 'Num Comp.', 'months_ceo_company',
       'months_company', 'months_company_others'],
      dtype='object')

In [8]:
columns_to_leave = [
    "company", "rank", "rank_change", "revenue",
    "profit", "num. of employees", "sector", "ceo_woman",
    "CEO", "Ticker", "Market Cap", "handle", "months_ceo_company",
    "months_company", "months_company_others", "Followers", "Num Comp."
]

df = df[columns_to_leave]
df.columns

Index(['company', 'rank', 'rank_change', 'revenue', 'profit',
       'num. of employees', 'sector', 'ceo_woman', 'CEO', 'Ticker',
       'Market Cap', 'handle', 'months_ceo_company', 'months_company',
       'months_company_others', 'Followers', 'Num Comp.'],
      dtype='object')

In [9]:
# Rename columns to lowercase with underscores
df = df.rename(columns={
    "num. of employees": "num_employees",
    "CEO": "ceo",
    "Ticker": "ticker",
    "Market Cap": "market_cap",
    "Followers": "num_followers",
    "Num Comp.": "num_comp"
})

df.columns

Index(['company', 'rank', 'rank_change', 'revenue', 'profit', 'num_employees',
       'sector', 'ceo_woman', 'ceo', 'ticker', 'market_cap', 'handle',
       'months_ceo_company', 'months_company', 'months_company_others',
       'num_followers', 'num_comp'],
      dtype='object')

In [10]:
# Check dtypes 
df.num_followers = df.num_followers.str.replace(r"[^\d]", "", regex=True)
df.num_followers = df.num_followers.astype("int32")

In [11]:
# df.market_cap = df.market_cap.astype("float32")
df.market_cap = df.market_cap.replace("-", np.nan)
df.market_cap = df.market_cap.astype("float32")
df.ceo_woman = df.ceo_woman.map({"yes": 1, "no": 0})

In [12]:
df.dtypes

company                   object
rank                       int64
rank_change              float64
revenue                  float64
profit                   float64
num_employees            float64
sector                    object
ceo_woman                  int64
ceo                       object
ticker                    object
market_cap               float32
handle                    object
months_ceo_company         int64
months_company             int64
months_company_others      int64
num_followers              int32
num_comp                   int64
dtype: object

In [13]:
# Profit_revenue ratio
df["profit_ratio"] = df["profit"] / df["revenue"]

<h3>Collect data from MorningStar website</h3>
<ol>
    <li>CEOs age</li>
    <li>CEOs compensation</li>
</ol>

In [14]:
# Use tickers of the company to find data on CEOs from MorningStar
tickers = df.ticker

In [15]:
# Reverse-engineer REST API of MorningStar to extract json data from server
# Shouldof used asynchronous code but no time for this ;(
class MorningStar:
    
    BASE_URL = "https://api-global.morningstar.com/sal-service/v1/stock/insiders/keyExecutives/{}/" \
    "data?languageId=en&locale=en&clientId=MDC&component=sal-components-executive&version=3.79.0"
    EXCHANGE_QUERY = "https://www.morningstar.com/api/v1/search/securities?q={}&region=USA&limit=5"
    
    def __init__(self):
        self._load_headers()
        self._update_cookies()
    
    # Load real headers from pickle file in src folder
    def _load_headers(self):
        with open("src/headers_ticker.pickle", "rb") as file:
            self.headers_ticker = pickle.load(file)
        with open("src/headers_exchange.pickle", "rb") as file:
            self.headers_exchange = pickle.load(file)
        
    # Use more user-like cookies and headers
    def _update_cookies(self):
        
        driver = webdriver.Chrome()
        driver.maximize_window()
        driver.get("https://www.morningstar.com/stocks/xnys/wmt/executive")
        
        all_cookies = driver.get_cookies()
        driver.close()
        
        cookies_dict = {}
        for cookie in all_cookies:
            cookies_dict[cookie['name']] = cookie['value']
        
        self.cookies = cookies_dict
        
    def __enter__(self):
        return self
    
    def __exit__(self, exc_type, exc_val, exc_tb):
        print("Finished executing... Terminating...")
        
    def _get_exchange(self, ticker: str):
        response = requests.get(
            self.EXCHANGE_QUERY.format(ticker),
            cookies=self.cookies,
            headers=self.headers_exchange
        ).json()
        # Check if there is exchange ticker is traded on
        if len(response["results"]) > 0:
            return response["results"][0]["exchange"].lower()
        else:
            return
        
        
    # Each ticker is masked as id stored in the backend, it appears 
    # once in hmml dom once we query the page with ticker itself
    def get_security_id(self, ticker: str):
        # Each stock is traded on different exchanges either NYSE or NASDAQ or PINX, etc.
        exchange = self._get_exchange(ticker)
        response = requests.get(
            f"https://www.morningstar.com/stocks/{exchange}/{ticker.lower()}", 
            cookies=self.cookies,
            headers=self.headers_ticker
        )
        if response.status_code == 404:
            print(f"Unsuccessful connection with ticker {ticker}")
            return
        # if security id was located then ticker exists on the website -> return it
        security_id = re.findall('<sal-components.*security-id="(.*?)"', response.text)[0]
        return security_id
    
    def request_data(self, ticker: str):
        security_id = self.get_security_id(ticker) # -> get security id to parse data
        if not security_id: # -> if security id is null return null as well
            return 
        data = requests.get(
            self.BASE_URL.format(security_id),
            cookies=self.cookies,
            headers=self.headers_ticker
        ).json()
        # if there are rows -> means there is executives data
        if len(data["rows"]) > 0:
            print(f"Successfully retrieved data for {ticker}")
            return data["rows"][0] 
        # otherwise return null
        print(f"Query went through successfully but no data was retrieved: {ticker}")
        return

In [16]:
data_morning = {
    "ticker": [],
    "data": [],
}

In [17]:
# Parse for each ticker
with MorningStar() as star:
    for ticker in tickers:
        if isinstance(ticker, str): # check if ticker is nan 
            data = star.request_data(ticker)
            data_morning["ticker"].append(ticker)
            data_morning["data"].append(data)
        else:
            data_morning["ticker"].append(np.nan)
            data_morning["data"].append(np.nan)

Successfully retrieved data for WMT
Successfully retrieved data for AMZN
Successfully retrieved data for CVS
Successfully retrieved data for MCK
Successfully retrieved data for ABC
Successfully retrieved data for T
Successfully retrieved data for MSFT
Successfully retrieved data for CAH
Successfully retrieved data for CVX
Successfully retrieved data for WBA
Successfully retrieved data for ELV
Successfully retrieved data for KR
Successfully retrieved data for JPM
Successfully retrieved data for GM
Successfully retrieved data for PSX
Successfully retrieved data for DELL
Successfully retrieved data for FNMA
Successfully retrieved data for UPS
Successfully retrieved data for LOW
Successfully retrieved data for JNJ
Successfully retrieved data for HUM
Successfully retrieved data for PFE
Successfully retrieved data for C
Successfully retrieved data for PEP
Successfully retrieved data for INTC
Successfully retrieved data for PG
Successfully retrieved data for IBM
Successfully retrieved data for PRU
Successfully retrieved data for ACI
Successfully retrieved data for ET
Query went through successfully but no data was retrieved: FMCC
Successfully retrieved data for RTX
Successfully retrieved data for MS
Successfully retrieved data for ABBV
Successfully retrieved data for DOW
Successfully retrieved data for AIG
Successfully retrieved data for BBY
Successfully retrieved data for SYY
Successfully retrieved data for MRK
Successfully retrieved data for CSCO
Successfully retrieved data for BMY
Successfully retrieved data for DE
Successfully retrieved data for AXP
Successfully retrieved data for ABT
Successfully retrieved data for TMO
Successfully retrieved data for NOC
Successfully retrieved data for MMM
Successfully retrieved data for TRV
Successfully retrieved data for ARW
Successfully retrieved data for QCOM
Successfully retrieved data for SNX
Successfully retrieved data for PM
Successfully retrieved data for DAL
Successfully retrieved data for AAL
Successfully retrieved data for NFLX
Successfully retrieved data for USFD
Successfully retrieved data for DHR
Successfully retrieved data for SBUX
Successfully retrieved data for MDLZ
Successfully retrieved data for LLY
Successfully retrieved data for HPE
Successfully retrieved data for MU
Successfully retrieved data for AVGO
Successfully retrieved data for NRG
Successfully retrieved data for NVDA
Successfully retrieved data for OXY
Successfully retrieved data for CRM
Successfully retrieved data for DLTR
Successfully retrieved data for KHC
Successfully retrieved data for AMGN
Successfully retrieved data for PYPL
Successfully retrieved data for M
Successfully retrieved data for DUK
Successfully retrieved data for UAL
Successfully retrieved data for V
Successfully retrieved data for RAD
Successfully retrieved data for CMI
Successfully retrieved data for MCD
Successfully retrieved data for SO
Successfully retrieved data for AMAT
Successfully retrieved data for FCX
Successfully retrieved data for BX
Successfully retrieved data for UNP
Successfully retrieved data for MAN
Successfully retrieved data for CARR
Successfully retrieved data for BKR
Successfully retrieved data for CLF
Successfully retrieved data for X
Successfully retrieved data for BDX
Successfully retrieved data for BLDR
Successfully retrieved data for PNC
Successfully retrieved data for LUMN
Successfully retrieved data for KMB
Successfully retrieved data for KSS
Successfully retrieved data for BLK
Successfully retrieved data for JLL
Successfully retrieved data for LEA
Successfully retrieved data for SCHW
Successfully retrieved data for MA
Successfully retrieved data for GPC
Successfully retrieved data for WRK
Successfully retrieved data for CTSH
Successfully retrieved data for MRNA
Successfully retrieved data for EMR
Successfully retrieved data for GIS
Successfully retrieved data for VTRS
Successfully retrieved data for DISH
Successfully retrieved data for LHX
Successfully retrieved data for DXC
Successfully retrieved data for CL
Successfully retrieved data for SWK
Successfully retrieved data for SYK
Successfully retrieved data for WDC
Successfully retrieved data for GPS
Successfully retrieved data for RGA
Successfully retrieved data for AMD
Successfully retrieved data for BK
Successfully retrieved data for LUV
Successfully retrieved data for SYF
Successfully retrieved data for CTVA
Successfully retrieved data for HAL
Successfully retrieved data for EIX
Successfully retrieved data for BWA
Successfully retrieved data for JWN
Successfully retrieved data for PXD
Successfully retrieved data for LRCX
Successfully retrieved data for PFG
Successfully retrieved data for D
Successfully retrieved data for K
Successfully retrieved data for FLR
Successfully retrieved data for ACM
Successfully retrieved data for QRTEA
Successfully retrieved data for PHM
Successfully retrieved data for MAR
Unsuccessful connection with ticker BLL
Successfully retrieved data for W
Successfully retrieved data for AMP
Successfully retrieved data for XEL
Successfully retrieved data for DFS
Successfully retrieved data for RKT
Successfully retrieved data for LKQ
Successfully retrieved data for MKL
Successfully retrieved data for XPO
Successfully retrieved data for ECL
Successfully retrieved data for ANDE
Successfully retrieved data for UHS
Successfully retrieved data for CSX
Successfully retrieved data for HSIC
Successfully retrieved data for EBAY
Successfully retrieved data for CYH
Successfully retrieved data for THO
Successfully retrieved data for DKS
Successfully retrieved data for NEM
Successfully retrieved data for JBHT
Successfully retrieved data for AA
Successfully retrieved data for ARMK
Successfully retrieved data for BSX
Successfully retrieved data for ETR
Successfully retrieved data for DVA
Successfully retrieved data for AIZ
Successfully retrieved data for LSXMA
Successfully retrieved data for IEP
Successfully retrieved data for RSG
Successfully retrieved data for CAG
Successfully retrieved data for NSC
Successfully retrieved data for AES
Successfully retrieved data for AGCO
Successfully retrieved data for AAP
Successfully retrieved data for BIIB
Successfully retrieved data for BKNG
Successfully retrieved data for APH
Successfully retrieved data for DGX
Successfully retrieved data for DCP
Successfully retrieved data for DK
Successfully retrieved data for WMB
Successfully retrieved data for TAP
Successfully retrieved data for WY
Successfully retrieved data for ATUS
Successfully retrieved data for EME
Successfully retrieved data for YUMC
Successfully retrieved data for OMI
Successfully retrieved data for PEG
Successfully retrieved data for URI
Successfully retrieved data for MGM
Successfully retrieved data for R
Successfully retrieved data for INTU
Successfully retrieved data for UNVR
Successfully retrieved data for NWSA
Successfully retrieved data for ODP
Successfully retrieved data for VFC
Successfully retrieved data for BBBY
Successfully retrieved data for PVH
Successfully retrieved data for APO
Successfully retrieved data for HSY
Successfully retrieved data for FL
Successfully retrieved data for DAN
Successfully retrieved data for SPTN
Successfully retrieved data for OLN
Successfully retrieved data for CHWY
Successfully retrieved data for UFPI
Successfully retrieved data for ULTA
Successfully retrieved data for EXPE
Successfully retrieved data for GPN
Successfully retrieved data for OC
Successfully retrieved data for CPB
Successfully retrieved data for HUN
Successfully retrieved data for AVY
Successfully retrieved data for MAS
Successfully retrieved data for SPGI
Successfully retrieved data for PII
Successfully retrieved data for WSM
Successfully retrieved data for ALV
Successfully retrieved data for HOUS
Successfully retrieved data for OSK
Successfully retrieved data for GXO
Successfully retrieved data for BCC
Successfully retrieved data for BBWI
Successfully retrieved data for ZTS
Successfully retrieved data for TROW
Successfully retrieved data for FBHS
Successfully retrieved data for CASY
Successfully retrieved data for VRTX
Successfully retrieved data for CMG
Successfully retrieved data for CMS
Successfully retrieved data for ARNC
Successfully retrieved data for UGI
Successfully retrieved data for SAIC
Successfully retrieved data for AVTR
Successfully retrieved data for HBI
Successfully retrieved data for CLX
Successfully retrieved data for TA
Successfully retrieved data for HTZ
Successfully retrieved data for NCR
Successfully retrieved data for BHF
Successfully retrieved data for PPL
Successfully retrieved data for ROK
Successfully retrieved data for KLAC
Successfully retrieved data for CWH
Successfully retrieved data for INGR
Successfully retrieved data for VRTV
Successfully retrieved data for ON
Successfully retrieved data for ENLC
Successfully retrieved data for SWN
Successfully retrieved data for EQIX
Successfully retrieved data for YUM
Successfully retrieved data for COMP
Successfully retrieved data for ROP
Successfully retrieved data for FYBR
Successfully retrieved data for CC
Successfully retrieved data for A
Successfully retrieved data for ABM
Successfully retrieved data for POST
Successfully retrieved data for MCO
Successfully retrieved data for SBGI
Successfully retrieved data for RPM
Successfully retrieved data for MTB
Successfully retrieved data for SFM
Successfully retrieved data for CACI
Successfully retrieved data for JBLU
Successfully retrieved data for FAST
Successfully retrieved data for GME
Successfully retrieved data for ABNB
Successfully retrieved data for NOW
Successfully retrieved data for NDAQ
Successfully retrieved data for TPR
Successfully retrieved data for NTAP
Successfully retrieved data for ISRG
Successfully retrieved data for UAA
Successfully retrieved data for SLGN
Successfully retrieved data for IR
Successfully retrieved data for HOLX
Successfully retrieved data for EA
Successfully retrieved data for ZBRA
Successfully retrieved data for COTY
Successfully retrieved data for SNDR
Successfully retrieved data for CNXC
Successfully retrieved data for EVRG
Successfully retrieved data for GEF
Successfully retrieved data for AME
Successfully retrieved data for MRO
Successfully retrieved data for MAT
Successfully retrieved data for MCHP
Successfully retrieved data for HOG
Successfully retrieved data for ADT
Successfully retrieved data for FRC
Successfully retrieved data for FTV
Successfully retrieved data for SYNH
Successfully retrieved data for XYL
Successfully retrieved data for CHD
Successfully retrieved data for MTH
Successfully retrieved data for EHC
Successfully retrieved data for SWKS
Successfully retrieved data for LEG
Successfully retrieved data for WU
Successfully retrieved data for PKI
Successfully retrieved data for AEO
Successfully retrieved data for CNM
Successfully retrieved data for KEYS
Successfully retrieved data for SMG
Successfully retrieved data for KELYA
Successfully retrieved data for NI
Successfully retrieved data for DASH
Successfully retrieved data for TDG
Successfully retrieved data for SF
Successfully retrieved data for ARES
Successfully retrieved data for PLD
Successfully retrieved data for WELL
Successfully retrieved data for DAR
Successfully retrieved data for JNPR
Successfully retrieved data for PARR
Successfully retrieved data for RCII
Unsuccessful connection with ticker CVET
Successfully retrieved data for URBN
Successfully retrieved data for ILMN
Successfully retrieved data for IRM
Successfully retrieved data for MRVL
Successfully retrieved data for RL
Successfully retrieved data for ADSK
Successfully retrieved data for DPZ
Successfully retrieved data for ASGN
Successfully retrieved data for FLO
Successfully retrieved data for BXC
Successfully retrieved data for PANW
Successfully retrieved data for MMS
Successfully retrieved data for XRAY
Successfully retrieved data for HUBG
Successfully retrieved data for BFH
Successfully retrieved data for SNPS
Successfully retrieved data for BCO
Successfully retrieved data for LII
Successfully retrieved data for CNDT
Successfully retrieved data for BLMN
Successfully retrieved data for CNO
Successfully retrieved data for ZM
Successfully retrieved data for PATK
Successfully retrieved data for PAYX
Successfully retrieved data for AAWW
Successfully retrieved data for PTON
Successfully retrieved data for QRVO
Successfully retrieved data for CTLT
Successfully retrieved data for AMN
Successfully retrieved data for ARCB
Successfully retrieved data for APG
Successfully retrieved data for DBD
Successfully retrieved data for SBH
Successfully retrieved data for ENOV
Successfully retrieved data for VTR
Successfully retrieved data for GDDY
Successfully retrieved data for PNW
Successfully retrieved data for EXPI
Successfully retrieved data for WYNN
Successfully retrieved data for EPAM
Successfully retrieved data for MTD
Successfully retrieved data for TER
Successfully retrieved data for AEL
Successfully retrieved data for SWX
Successfully retrieved data for PBI
Successfully retrieved data for LNT
Successfully retrieved data for RFP
Successfully retrieved data for PSN
Successfully retrieved data for TRMB
Successfully retrieved data for OGE
Successfully retrieved data for GTX
Successfully retrieved data for WGO
Successfully retrieved data for CIEN
Successfully retrieved data for PSMT
Successfully retrieved data for ADV
Successfully retrieved data for IHRT
Successfully retrieved data for GVA
Successfully retrieved data for VMI
Unsuccessful connection with ticker SRLP
Successfully retrieved data for PRIM
Successfully retrieved data for CBOE
Successfully retrieved data for BLD
Successfully retrieved data for SITE
Successfully retrieved data for TXRH
Unsuccessful connection with ticker BFB
Successfully retrieved data for AYI
Successfully retrieved data for OPCH
Successfully retrieved data for TTWO
Successfully retrieved data for BYD
Successfully retrieved data for PLXS
Successfully retrieved data for SCSC
Successfully retrieved data for COOP
Successfully retrieved data for EAT
Successfully retrieved data for ALB
Successfully retrieved data for BTU
Successfully retrieved data for LNW
Successfully retrieved data for STC
Successfully retrieved data for CENT
Successfully retrieved data for FUL
Successfully retrieved data for MIDD
Successfully retrieved data for LYFT
Successfully retrieved data for GCI
Successfully retrieved data for RMD
Successfully retrieved data for DBI
Successfully retrieved data for VRM
Successfully retrieved data for WOR
Successfully retrieved data for CLMT
Successfully retrieved data for TRU
Successfully retrieved data for TNL
Successfully retrieved data for AMCX
Successfully retrieved data for CHX
Successfully retrieved data for FIX
Successfully retrieved data for BRO
Successfully retrieved data for LGIH
Successfully retrieved data for H
Successfully retrieved data for CMA
Successfully retrieved data for ENR
Successfully retrieved data for RXT
Successfully retrieved data for EEFT
Successfully retrieved data for VNT
Successfully retrieved data for CDNS
Successfully retrieved data for INCY
Successfully retrieved data for MTCH
Successfully retrieved data for ZION
Successfully retrieved data for MKSI
Successfully retrieved data for ANET
Successfully retrieved data for ATKR
Successfully retrieved data for FSLR
Successfully retrieved data for NVST
Successfully retrieved data for ALIT
Successfully retrieved data for HST
Successfully retrieved data for BXP
Successfully retrieved data for WES
Successfully retrieved data for HI
Successfully retrieved data for DCI
Successfully retrieved data for FIVE
Successfully retrieved data for TWLO
Successfully retrieved data for NLY
Successfully retrieved data for WST
Successfully retrieved data for GPRE
Successfully retrieved data for VIRT
Successfully retrieved data for TFX
Successfully retrieved data for ATI
Successfully retrieved data for APP
Successfully retrieved data for WAT
Successfully retrieved data for FCN
Successfully retrieved data for VC
Successfully retrieved data for ITT
Successfully retrieved data for IEX
Successfully retrieved data for BPOP
Successfully retrieved data for ROKU
Successfully retrieved data for WERN
Unsuccessful connection with ticker MCFE
Successfully retrieved data for NUS
Successfully retrieved data for SPLK
Successfully retrieved data for SRCL
Successfully retrieved data for SM
Successfully retrieved data for KALU
Successfully retrieved data for SCS
Successfully retrieved data for PINS
Successfully retrieved data for WE
Unsuccessful connection with ticker NLOK
Successfully retrieved data for CW
Successfully retrieved data for MYRG
Successfully retrieved data for KTB
Successfully retrieved data for LBRT
Successfully retrieved data for AMG
Successfully retrieved data for SUM
Successfully retrieved data for BDC
Successfully retrieved data for ESI
Successfully retrieved data for POR
Successfully retrieved data for ACHC
Successfully retrieved data for ARE
Successfully retrieved data for NDSN
Successfully retrieved data for SCL
Successfully retrieved data for HGV
Successfully retrieved data for ETSY
Successfully retrieved data for CROX
Successfully retrieved data for ZEUS
Successfully retrieved data for ENTG
Successfully retrieved data for AVB
Successfully retrieved data for SSP
Successfully retrieved data for TTEC
Successfully retrieved data for AMR
Successfully retrieved data for KAR
Successfully retrieved data for TTMI
Successfully retrieved data for VSTO
Successfully retrieved data for SGRY
Successfully retrieved data for CENX
Successfully retrieved data for ARCH
Successfully retrieved data for SNBR
Successfully retrieved data for HNI
Successfully retrieved data for PSTG
Successfully retrieved data for PRTY
Successfully retrieved data for DBX
Successfully retrieved data for NJR
Successfully retrieved data for BZH
Successfully retrieved data for BWXT
Successfully retrieved data for FLWS
Successfully retrieved data for COWN
Finished executing... Terminating...

<h3>Transform collected data</h3>

In [26]:
df_morning = pd.DataFrame(data_morning)

df_morning["age"] = df_morning.data.apply(lambda x: x["age"] if isinstance(x, dict) else np.nan)
df_morning["total_compensation"] = df_morning.data.apply(
    lambda x: x["totalCompensation"][-1] if isinstance(x, dict) else np.nan
)
df_morning["salary"] = df_morning.data.apply(
    lambda x: x["compensation"][0]["datum"][-1] if isinstance(x, dict) else np.nan
)
df_morning["restricted_stock"] = df_morning.data.apply(
    lambda x: x["compensation"][3]["datum"][-1] if isinstance(x, dict) else np.nan
)

df_morning.age = df_morning.age.astype("float32")
df_morning.total_compensation = df_morning.total_compensation.astype("float32")
df_morning.salary = df_morning.salary.astype("float32")
df_morning.restricted_stock = df_morning.restricted_stock.astype("float32")
df_morning.ticker = df_morning.ticker.str.strip()

df_morning.head()

,ticker,data,age,total_compensation,salary,restricted_stock
0,WMT,"{'type': 'person', 'personId': 'PS0000036J', '...",55.0,25670672.0,1276892.0,19195008.0
1,AMZN,"{'type': 'person', 'personId': 'PS000001JW', '...",54.0,212701168.0,175000.0,211933520.0
2,CVS,"{'type': 'person', 'personId': 'PS0000244H', '...",59.0,7045167.0,1429167.0,NaN
3,MCK,"{'type': 'person', 'personId': 'PS0000030D', '...",55.0,18152082.0,1375000.0,12250438.0
4,ABC,"{'type': 'person', 'personId': 'PS00001MO0', '...",60.0,14873815.0,1400000.0,10500201.0

<h3>Merge data from data_300 dataset to collected data</h3>

In [27]:
df_morning = df_morning.drop(["data"], axis=1)
df_morning.shape

(507, 5)

In [28]:
df.reset_index(inplace=True, drop=True)
df_morning.reset_index(inplace=True, drop=True)

df = pd.concat([df, df_morning], axis=1)
df.head()

,company,rank,rank_change,revenue,profit,num_employees,sector,ceo_woman,ceo,ticker,...,ticker,age,total_compensation,salary,restricted_stock,ticker,age,total_compensation,salary,restricted_stock
0,Walmart,1,0.0,572754.0,13673.0,2300000.0,Retailing,0,C. Douglas McMillon,WMT,...,WMT,55.0,25670672.0,1276892.0,19195008.0,WMT,55.0,25670672.0,1276892.0,19195008.0
1,Amazon,2,0.0,469822.0,33364.0,1608000.0,Retailing,0,Andrew R. Jassy,AMZN,...,AMZN,54.0,212701168.0,175000.0,211933520.0,AMZN,54.0,212701168.0,175000.0,211933520.0
2,CVS Health,4,0.0,292111.0,7910.0,258000.0,Health Care,1,Karen Lynch,CVS,...,CVS,59.0,7045167.0,1429167.0,NaN,CVS,59.0,7045167.0,1429167.0,NaN
3,McKesson,9,-2.0,238228.0,-4539.0,67500.0,Health Care,0,Brian S. Tyler,MCK,...,MCK,55.0,18152082.0,1375000.0,12250438.0,MCK,55.0,18152082.0,1375000.0,12250438.0
4,AmerisourceBergen,10,-2.0,213988.8,1539.9,40000.0,Health Care,0,Steven H. Collis,ABC,...,ABC,60.0,14873815.0,1400000.0,10500201.0,ABC,60.0,14873815.0,1400000.0,10500201.0

In [29]:
df.to_csv("output_data/project_data.csv", index=False)